@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@font-face {
  font-family: 'Osaka-Sans';
  src: url("../fonts/osaka-re.ttf") format("ttf");
}

.bg-darkBlue, .btn-sml .btn, .section-header-bottom .top-menu .header-nav .nav-full .nav li a:after, .section-define-one .one-header .intigator:before, .section-define-one .one-header .intigator:after {
  background-color: #0372ba;
}

.text-darkBlue, .btn-sml .btn:hover a, .btn-sml .btn:hover i, .section-header-bottom .top-menu .header-nav .nav-full .nav li a:hover, .section-header-bottom .top-menu .header-nav .nav-full .nav li.active a, .section-header-bottom .header-content .cnt-three .text-five p a, .section-define-one .one-header .intigator, .section-define-one .one-middle a {
  color: #0372ba;
}

.bg-sWhite, .btn-sml .btn:hover, .section-header-top, .section-header-bottom .header-bt-sr, .section-header-bottom .header-bt-sr .header-services, .section-define-one .one-middle {
  background-color: #FFFFFF;
}

.text-sWhite, .btn-sml .btn a, .section-header-bottom .top-menu .header-nav .nav-full .nav li a, .section-header-bottom .header-content .cnt-one h2, .section-header-bottom .header-content .cnt-three .text-five, .section-header-bottom .header-content .cnt-three .text-five p {
  color: #FFFFFF;
}

.bg-mattBlack {
  background-color: #3d3e40;
}

.text-mattBlack {
  color: #3d3e40;
}

.bg-sBlack {
  background-color: #000000;
}

.text-sBlack, body, .section-header-top p, .section-header-bottom .header-bt-sr .header-services .services .sr-cnt h4, .section-define-one .one-content p, .one-head {
  color: #000000;
}

.bg-mattGray {
  background-color: #536277;
}

.text-mattGray {
  color: #536277;
}

.bg-darkGray {
  background-color: #536277;
}

.text-darkGray {
  color: #536277;
}

.bg-gray {
  background-color: #595757;
}

.text-gray {
  color: #595757;
}

.bg-bBlack {
  background-color: #030c00;
}

.text-bBlack, .section-header-bottom .header-content .cnt-two .text-four {
  color: #030c00;
}

.bg-purple, .section-define-one {
  background-color: #f2f2f3;
}

.text-purple {
  color: #f2f2f3;
}

body {
  font-weight: 400;
  background: #Ddd;
  font-size: 14px;
  font-weight: 400;
  word-spacing: .05px;
  letter-spacing: .05px;
}

body p {
  line-height: 25px;
  font-weight: 400;
  font-family: Osaka-Sans;
  margin: 0;
}

body h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

body h4 {
  font-size: 2.25rem;
  font-weight: 400;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.section {
  display: block;
  margin: 0 auto;
}

.separator {
  padding: 55px;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.btn-sml {
  position: absolute;
  top: 80%;
  left: 20px;
}

.btn-sml .btn {
  padding: 0px 5px;
  border-radius: 20px;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  padding-bottom: 5px;
  line-height: 0;
}

.btn-sml .btn a {
  text-decoration: none;
  line-height: 10px;
  font-size: 12.8px;
  display: block;
  margin-top: 4px;
}

.btn-sml .btn i {
  line-height: 3px;
}

.section-header-top {
  padding: 15px;
}

.section-header-top p {
  font-size: 0.875rem;
  font-weight: 600;
}

.section-header-bottom {
  width: 100%;
  position: relative;
}

.section-header-bottom .section-img {
  width: 100%;
  display: block;
}

.section-header-bottom .img-color-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.76)), color-stop(rgba(16, 16, 16, 0)), to(rgba(14, 14, 17, 0)));
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.76), rgba(16, 16, 16, 0), rgba(14, 14, 17, 0));
  position: absolute;
  width: 100%;
  top: 0;
}

.section-header-bottom .top-menu {
  height: 65px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(-45deg, #252424, rgba(16, 16, 16, 0));
  width: 100%;
}

.section-header-bottom .top-menu .header-nav {
  display: inline-block;
  width: 100%;
}

.section-header-bottom .top-menu .header-nav .nav-full {
  float: right;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav {
  margin-top: 6px;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav li {
  padding: 0 20px;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav li:last-child {
  padding-right: 0;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav li a {
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  padding: 10px 5px;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav li a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav li a:hover:after {
  width: 100%;
}

.section-header-bottom .top-menu .header-nav .nav-full .nav li.active a:after {
  width: 100%;
}

.section-header-bottom .header-content .cnt-one {
  margin-top: 70px;
}

.section-header-bottom .header-content .cnt-one h2 {
  font-size: 2.375rem;
  font-weight: 600;
  margin-left: 70px;
}

.section-header-bottom .header-content .cnt-one h2.text-two {
  margin-left: 150px;
}

.section-header-bottom .header-content .cnt-two {
  background: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
  margin-top: 40px;
  display: block;
}

.section-header-bottom .header-content .cnt-two .text-four {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0 60px;
  line-height: 35px;
}

.section-header-bottom .header-content .cnt-three {
  border: 6px solid rgba(255, 255, 255, 0.6);
  padding: 30px;
  background: rgba(14, 14, 17, 0.6);
  float: right;
  margin-top: 140px;
}

.section-header-bottom .header-content .cnt-three .text-five {
  font-size: 1.125rem;
  display: block;
  width: 100%;
}

.section-header-bottom .header-content .cnt-three .text-five p {
  margin-top: 10px;
}

.section-header-bottom .header-content .cnt-three .text-five p a {
  margin-right: 5px;
}

.section-header-bottom .header-content .cnt-three .text-five p a i {
  margin-right: 5px;
}

.section-header-bottom .header-bt-sr {
  width: 100%;
}

.section-header-bottom .header-bt-sr .header-services {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.section-header-bottom .header-bt-sr .header-services .services {
  display: inline-block;
  max-width: 235px;
  height: auto;
  position: relative;
}

.section-header-bottom .header-bt-sr .header-services .services img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  margin-left: 10px;
}

.section-header-bottom .header-bt-sr .header-services .services .sr-cnt {
  position: absolute;
  top: 0;
  left: 0;
}

.section-header-bottom .header-bt-sr .header-services .services .sr-cnt h4 {
  font-size: 20px;
  padding: 20px 51px 0 30px;
}

.section-define-one {
  width: 100%;
  display: block;
}

.section-define-one .one-header {
  position: relative;
}

.section-define-one .one-header .intigator {
  font-size: 2.25rem;
  font-weight: 600;
  position: relative;
}

.section-define-one .one-header .intigator:before {
  content: '';
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  bottom: 0;
  left: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-define-one .one-header .intigator:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  bottom: 0;
  right: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-define-one .one-content p {
  font-size: 1.0625rem;
  font-weight: 500;
  text-align: center;
}

.section-define-one .one-middle {
  text-align: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.section-define-one .one-middle:hover {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25), 0 9px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25), 0 9px 12px rgba(0, 0, 0, 0.22);
}

.section-define-one .one-middle a {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

/* The following is all you really need for the effect to work */
.one-head {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  font-size: 2.5rem;
  margin-top: 10px;
  position: relative;
  top: 0rem;
  text-align: center;
  padding: 0.3125rem;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.one-head:before {
  width: 50%;
  height: 0.125rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 239, 239, 0.8)), color-stop(60%, rgba(148, 148, 148, 0.8)), color-stop(60%, rgba(171, 160, 160, 0.8)), to(rgba(97, 96, 96, 0)));
}

.one-head:after {
  width: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.125rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(239, 239, 239, 0.8)), color-stop(60%, rgba(148, 148, 148, 0.8)), color-stop(60%, rgba(171, 160, 160, 0.8)), to(rgba(97, 96, 96, 0)));
}

.one-header .btn-sml {
  left: 80%;
  top: 75%;
}
/*# sourceMappingURL=main.css.map */