@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


@font-face {
    font-family: 'Osaka-Sans';
    src:url("../fonts/osaka-re.ttf") format("ttf");
}

@function rem($value) {
    @return unquote(($value/1px)/16+"rem");
}

$easeTime:0.25s;
$marginTop: 55px;
$marginBottom:10px;

$colors: (
    "darkBlue": "#0372ba",
    "sWhite": "#FFFFFF",
    "mattBlack": "#3d3e40",
    "sBlack":"#000000",
    "mattGray":"#536277",
    "darkGray": "#536277",
    "gray": "#595757",
    "bBlack": "#030c00",
    "purple":"#f2f2f3"
);


@each $colorName, $colorValue in $colors{
    .bg-#{$colorName}{
        background-color:#{$colorValue};
    }
    .text-#{$colorName}{
        color:#{$colorValue};
    }
}

body{
    font-weight:400;
    background:#Ddd;
    font-size:14px;
    font-weight:400;
    @extend .text-sBlack;
    word-spacing:.05px;
    letter-spacing:.05px;
    p{
        line-height:25px;
        font-weight:400;
        font-family:Osaka-Sans;
        margin:0;
    }
    h2{
        font-size:rem(40px);
        font-weight:600;
    }
    h4{
        font-size:rem(36px);
        font-weight:400;
    }
    h1,h2,h3,h4,h5,h6{
        margin:0;
    }
}

img{
    width:100%;
    display:block;
}
.section{
    display:block;
    margin:0 auto;
}
.separator{
    padding:55px;
}

.container{
    margin:0 auto;
    padding:0;
    max-width:1200px;
}

.btn-sml{
    position:absolute;
    top:80%;
    left:20px;
    .btn{
        padding:0px 5px;
        border-radius:20px;
        @extend .bg-darkBlue;
        transition:all ease-in-out $easeTime;
        padding-bottom:5px;
        line-height:0;
        &:hover{
            @extend .bg-sWhite;
            a{
                @extend .text-darkBlue;
            }
            i{
                @extend .text-darkBlue;
            }
        }
        a{
            @extend .text-sWhite;
            text-decoration:none;
            line-height:10px;
            font-size:12.8px;
            display:block;
            margin-top:4px;
        }
        i{
            line-height:3px;
        }
    }
}



.section-header-top{
    padding:15px;
    @extend .bg-sWhite;
    p{
        @extend .text-sBlack;
        font-size:rem(14px);
        font-weight:600;
    }
}

.section-header-bottom{
    width:100%;
    position:relative;
    .section-img{
        width:100%;
        display:block;
    }
    .img-color-overlay{
        background:linear-gradient(-180deg, rgba(0, 0, 0, 0.76), rgba(16, 16, 16, 0), rgba(14, 14, 17, 0));
        position:absolute;
        width:100%;
        top:0;
    }
    .top-menu{
        height:65px;
        border-bottom: 2px solid rgba(255, 255, 255,.1);
        background: linear-gradient(-45deg, rgb(37, 36, 36), rgba(16, 16, 16, 0.0));
        width:100%;
        .header-nav{
            display:inline-block;
            width:100%;
            .nav-full{
                float:right;
                .nav{
                    margin-top:6px;
                    li{
                        padding:0 20px;
                        &:last-child{
                            padding-right:0;
                        }
                        a{
                            font-size:rem(24px);
                            font-weight:400;
                            @extend .text-sWhite;
                            position:relative;
                            padding: 10px 5px;
                            transition: $easeTime all ease-in-out;
                            &:after{
                                content:'';
                                position:absolute;
                                width:0;
                                height:2px;
                                @extend .bg-darkBlue;
                                left:0;
                                bottom:0;
                                transition:all ease-in-out $easeTime;
                            }
                            &:hover{
                                @extend .text-darkBlue;
                            }
                            &:hover:after{
                                width:100%;
                            }
                        }
                        &.active a:after{
                            width:100%;
                        }
                        &.active a{
                            @extend .text-darkBlue;
                        }
                    }
                }
            }
        }
    }
    .header-content{
        .cnt-one{
            margin-top:70px;
            h2{
                @extend .text-sWhite;
                font-size:rem(38px);
                font-weight:600;
                margin-left:70px;
            }
            h2.text-two{
                margin-left:150px;
            }
        }
        .cnt-two{
            background:rgba(255, 255, 255,.6);
            padding:15px 0;
            margin-top:40px;
            display:block;
            .text-four{
                @extend .text-bBlack;
                font-size:rem(18px);
                font-weight:600;
                margin:0;
                padding:0 60px;
                line-height:35px;
            }
        }
        .cnt-three{
            border:6px solid rgba(255, 255, 255,.6);
            padding:30px;
            background:rgba(14, 14, 17, .6);
            float:right;
            margin-top:140px;
            .text-five{
                @extend .text-sWhite;
                font-size:rem(18px);
                display:block;
                width:100%;
                p{
                    @extend .text-sWhite;
                    margin-top:10px;
                    a{
                        @extend .text-darkBlue;
                        margin-right:5px;
                        i{
                            margin-right:5px;
                        }
                    }
                }
            }
        }
    }
    .header-bt-sr{
        width:100%;
        @extend .bg-sWhite;
        .header-services{
            width:100%;
            @extend .bg-sWhite;
            display:block;
            overflow:hidden;
            position:relative;
            .services{
                display:inline-block;
                max-width:235px;
                height:auto;
                position:relative;
                img{
                    width:100%;
                    object-fit:cover;
                    position:relative;
                    margin-left:10px;
                }
                .sr-cnt{
                    position:absolute;
                    top:0;
                    left:0;
                    h4{
                        @extend .text-sBlack;
                        font-size:20px;
                        padding:20px 51px 0 30px;
                    }
                }
            }
        }
    }
}
//end section header full


// start section one 
.section-define-one{
    width:100%;
    display:block;
    @extend .bg-purple;
    .one-header{
        position:relative;
        .intigator{
            @extend .text-darkBlue;
            font-size:rem(36px);
            font-weight:600;
            position:relative;
            &:before{
                content:'';
                position:absolute;
                top:50%;
                width:10px;
                height:10px;
                border-radius:50px;
                bottom:0;
                left:47%;
                transform:translateY(-50%);
                @extend .bg-darkBlue;
            }
            &:after{
                content:'';
                position:absolute;
                top:50%;
                width:10px;
                height:10px;
                border-radius:50px;
                bottom:0;
                right:47%;
                transform:translateY(-50%);
                @extend .bg-darkBlue;
            }
        }
    }
    .one-content{
        p{
            font-size:rem(17px);
            font-weight:500;
            text-align:center;
            @extend .text-sBlack;
        }
    }
    .one-middle{
        text-align:center;
        @extend .bg-sWhite;
        margin-bottom:20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover{
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25), 0 9px 12px rgba(0, 0, 0, 0.22);
        }
        cursor:pointer;
        a{
            padding:10px 0;
            font-size:rem(16px);
            @extend .text-darkBlue;
            font-weight:600; 
            text-decoration:none;
            display:block;
        }
    }
}
// end section one 


// custom box shadow and border
@mixin prettytext(){
    font-size: rem(40px);
    @extend .text-sBlack; 
    margin-top:10px;
  }
  
  @mixin basicformatting() {
    @include prettytext;
    position: relative;
    top: rem(0px);
    text-align: center;
    padding: rem(5px);
    width:60%;
    left:50%;
    transform:translateX(-50%);
  }
  
  /* The following is all you really need for the effect to work */
  
  @mixin left-gradient{
    background:-webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  }
  
  @mixin fadient(){
    @include left-gradient;
    
    &:before {
      width: 50%;
      height: rem(2px);
      position: absolute;
      left: 50%;
      transform:translateX(-50%);
      top: 0;
      content: "";
      background:-webkit-gradient(linear, left top, right top, from(rgba(239, 239, 239, 0.8)), color-stop(60%, rgba(148, 148, 148, 0.8)), color-stop(60%, rgba(171, 160, 160, 0.8)), to(rgba(97, 96, 96, 0)))
    }
    
    &:after {
      width: 50%;
      transform:translateX(-50%);
      height: rem(2px);
      position: absolute;
      left: 50%;
      bottom: 0;
      content: "";
      background:-webkit-gradient(linear, left top, right top, from(rgba(239, 239, 239, 0.8)), color-stop(60%, rgba(148, 148, 148, 0.8)), color-stop(60%, rgba(171, 160, 160, 0.8)), to(rgba(97, 96, 96, 0)))
    }    
}
.one-head{
    @include fadient;
    @include basicformatting;
}
@mixin sectionbtn(){
    left:80%;
    top:75%;
}
.one-header{
    .btn-sml{
        @include sectionbtn;
    }
}
// default box shadow and border